<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://jenil.github.io/bulmaswatch/darkly/bulmaswatch.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"
        integrity="sha256-MAgcygDRahs+F/Nk5Vz387whB4kSK9NXlDN3w58LLq0=" crossorigin="anonymous"></script>
    <title>Siri DataHashNode</title>
    <link rel="icon" href="static/logo.png" type="image/png" />
    <link rel="shortcut icon" href="static/logo.png" type="image/png" />
    <link rel="stylesheet" href="static/styles.css" />
</head>

<body>
    <br>
    <section class="container">
        <div class="columns">
            <div class="column">
                <div class="box has-text-centered" style="margin-top: 40px; margin-bottom: 40px;">
                    <p class="subtitle is-size-6">Welcome to</p>
                    <p class="title is-size-2 gradient-logo">
                        <img
                            src="https://cdn.discordapp.com/attachments/862241313672134696/939532556049727538/siri.png"></img>
                        AVR DataHashNode
                    </p>
                    <p class="subtitle">
                        a
                        <a href="https://siricoin.tech" class="has-text-warning">
                            <b>SiriCoin</b>
                        </a>
                        mining node 👋
                    </p>
                </div>
                <div class="box">
                    <p class="title">
                        <i class="fa fa-fw fa-info-circle"></i>
                        Node statistics
                    </p>
                    <div class="columns has-text-centered">
                        <div class="column">
                            <p class="subtitle">
                                <i class="fa fa-fw fa-wifi"></i>
                                Total Paid MSiriCoins:
                                <b id="connections" class="has-text-warning">
                                    0
                                </b>
                            </p>
                        </div>
                        <div class="column">
                            <p class="subtitle">
                                <i class="fa fa-fw fa-microchip"></i>
                                CPU usage:
                                <b id="cpu" class="has-text-success">
                                    35%
                                </b>
                            </p>
                        </div>
                        <div class="column">
                            <p class="subtitle">
                                <i class="fa fa-fw fa-memory"></i>
                                RAM usage:
                                <b id="ram" class="has-text-success">
                                    10%
                                </b>
                            </p>
                        </div>
                    </div>
                    <p class="subtitle has-text-centered">
                        ~ More data will be added here once SiriCoin gets stable ~
                    </p>
                </div>
                <div class="box">
                    <p class="title">
                        <i class="fa fa-fw fa-book"></i>
                        mSiri AVR Wallet
                    </p>
                    <form class="has-text-centered" id="getBalanceForm">
                        <label class="is-size-5"><B>Input Your Address:</B></label> <br>
                        <input style="margin-bottom: 10px; margin-top: 10px;" type="text" name="address" id="address"> <br>
                        <button class="button is-size-5 is-rounded is-outlined is-success" type="submit" value="Submit"><B>Get Balance</B></button>
                    </form>
                    <p class="has-text-centered" style="margin-bottom: 10px; margin-top: 10px;" id="balance"></p>
                </div>
                <div class="box">
                    <p class="title">
                        <i class="fa fa-fw fa-book"></i>
                        History
                    </p>
                    <p class="subtitle">
                        This is SiriCoin DataHashNode for <b>SiriCoin</b> AVRMining node created by <b>Shreyas-ITB</b>
                        from SiriCoin<br>
                        It was launched at <b>5/2/2022</b> and helps giving jobs and accepting jobs by AVRminers like
                        arduino miners, esp miners.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <br><br>
    <br><br>
    <footer>
        <div class="content has-text-centered">
            <p>
                Designed by <b>Shreyas-ITB</b> from SiriCoin Team 2021-2022<br>
                Made with <a href="https://bulma.io"><b>Bulma.</b></a> You can Imporve this website <a href="https://github.com/Sanjaysandy/SiriCoinWebWallet"><b>Here.</b></a>
            </p>
        </div>
    </footer>
</body>
<script src="static/script.js"></script>

</html>
